.characters {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
  display: inline-block;
}

label {
  overflow: hidden;
  text-indent: 9999px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  width: 250px;
  height: 250px;
  display: inline-block;
  background-repeat: no-repeat;
  border: 3px solid transparent;
  border-radius: 20px;
}

#checkbox_yoda + label {
  background-image: url("../images/yoda.png");
}
#checkbox_trooper + label {
  background-image: url("../images/trooper.png");
}
#checkbox_vader + label {
  background-image: url("../images/vader.png");
}

input[type="checkbox"]:checked + label {
  border-color: #000;
}
