.characters {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
  display: inline-block;
}

label {
  text-indent: 9999px;
  overflow: hidden;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  width: 250px;
  height: 250px;
  display: inline-block;
  background-repeat: no-repeat;
  border: 3px solid transparent;
  border-radius: 20px;
  position: relative;
}

#checkbox_yoda + label {
  background-image: url("../images/yoda.png");
}
#checkbox_trooper + label {
  background-image: url("../images/trooper.png");
}
#checkbox_vader + label {
  background-image: url("../images/vader.png");
}

input[type="checkbox"]:checked + label {
  border-color: #000;
}

input[type="checkbox"] + label:hover::after {
  content: attr(data-sentence);
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 10px 0;
  font-size: 15px;
  font-weight: bold;
  text-indent: 0;
}

button {
  display: block;
  margin: 0 auto;
  border: none;
  background-color: #000;
  color: #ffff00;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 10px;
  position: relative;
}

button::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: -27px;
  border-top: 27px solid transparent;
  border-bottom: 27px solid transparent;
  border-left: 27px solid #000;
}

button:hover {
  background-color: #ffff00;
  color: #000;
}

button:hover::after {
  border-left-color: #ffff00;
}
